<header  class="header">
	<div class="header__container">
		<div class="header__logo logo">
			<a routerLink="/home" class="logo__link"><img src="assets/images/icons/logo.svg" alt="Image"></a>
		</div>

		<div  class="header__menu menu" [class.menu-open]="active">
    			<button type="button" class="menu__icon icon-menu"  (click)="onMenuClick()"><span></span></button>
			<nav class="menu__body" [class.menu-open]="active">
				<ul class="menu__list ">

					<li class="menu__item"><a routerLink="/forum" class="menu__link">Форум<span></span></a></li>
					<li class="menu__item"><a routerLink="/contacts" class="menu__link">Контакти<span></span></a></li>
					<li class="menu__item"><a routerLink="/advice" class="menu__link">Поради<span></span></a></li>
					<li class="menu__item"><a routerLink="/lost" class="menu__link">Загублені<span></span></a></li>
					<li class="menu__item"><a routerLink="/map" class="menu__link">Карта<span></span></a></li>
					<li class="menu__item"><a routerLink="/breeds" class="menu__link">Породи<span></span></a></li>
					<li *ngIf="isMobile" class="menu__item"><a routerLink="/account" class="menu__link">Особистий кабінет</a></li>

				</ul>
			</nav>
		</div>
		<div *ngIf="!isMobile && !user" class="header__user-block user-block">
			<button type="button" (click)="modalService.open('modal-1')"  class="user-block__user-icon _icon-user"></button>
		</div>
		<div *ngIf="user" class="header__user-block user-block">
			<a *ngIf="user" routerLink="/account" class="user-block__user-img">
				<img src="../../../../assets/images/img/user_avatar.jpg" alt="Image">
			</a>
		</div>
	</div>
</header>

<app-modal id="modal-2">
	<app-registration></app-registration>
</app-modal>

<app-modal id="modal-1">
	<app-login></app-login>
</app-modal>