<section class="hero">
    <div class="hero__container">
        <div class="hero__content">
            <h1 class="hero__title">
                <span class="gradient">НЕ</span> залишся байдужим допоможи знайти
                <span class="gradient">домівку</span>
            </h1>
            <div class="hero__text">Lorem ipsum dolor sit amet. Aut nihil enim est libero explicabo qui sint
                quisquam vel temporibus voluptate.</div>
            <div class="btn-block">
                <a href="#" class="hero__button button">Підтримай Нас</a>
                <a href="#" class="hero__button button button--transparent">
                    <span class="grad-text">Детальніше</span>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="about">
    <div class="about__container">
        <div class="about__images">
            <div class="about__image-card about__image-card--opposite about__image-card--sh1">
                <img class="about__image" src="../../../../../assets/images/img/back-full.png" alt="Image">
            </div>
            <div class="about__image-card about__image-card--sh2">
                <img class="about__image" src="../../../../../assets/images/img/blog_art-3.jpg" alt="Image">
            </div>
            <div class="about__image-card about__image-card--sh3">
                <img class="about__image " src="../../../../../assets/images/img/blog_art-3.jpg" alt="Image">
            </div>
            <div class="about__image-card about__image-card--opposite about__image-card--sh4">
                <img class="about__image" src="../../../../../assets/images/img/back-full.png" alt="Image">
            </div>
        </div>
        <div class="about__content">
            <h2 class="about__title">Про <span>нас</span></h2>
            <p class="about__text">Lorem ipsum dolor sit amet. Aut nihil enim est libero explicabo qui sint
                quisquam
                vel temporibus voluptate.
                Et aspernatur numquam ea autem repellat est voluptatibus natus et fugit facilis et voluptatum
                voluptatem.
                Sed nobis maiores est quia tempore
                At error omnis ut earum blanditiis non voluptatem eligendi.
            </p>
            <a routerLink="/about" class="about__link button--orange _icon-angle">Читати далі</a>
        </div>
    </div>
</section>
<section class="blog">
    <div class="blog__container">
        <div class="blog__row">
            <div class="blog__col blog__col--title-col">
                <h2 class="blog__title">Долучайтесь до нашого <span>блогу</span></h2>
                <p class="blog__text">
                    Agility is an exciting, fast paced and fun sport for us and our dogs. 
                    Agility is a set course of obstacles that your 
                    dog must navigate properly in order and within time.
                </p>
                <a href="/blog" class="blog__link button--orange _icon-angle">Читати далі</a>
            </div>
            <div class="blog__col blog__col--swiper-col">
                <app-swiper class="blog__app-swiper"></app-swiper>
            </div>
        </div>
    </div>
</section>
<section class="search">
    <div class="search__container">
        <h1 class="search__title">Допоможи улюбленцю знайти шлях додому</h1>
        <p class="search__text">
            Et aspernatur numquam ea autem repellat est voluptatibus natus et fugit facilis et voluptatum
            voluptatem.
            Sed nobis maiores est quia tempore
            At error omnis ut earum blanditiis non voluptatem eligendi.
        </p>
        <div class="search__cards">
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <span class="card__category">Порода</span>
                        <span class="card__category">Локація</span>
                        <span class="card__category">Стать</span>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <span class="card__category">Порода</span>
                        <span class="card__category">Локація</span>
                        <span class="card__category">Стать</span>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <span class="card__category">Порода</span>
                        <span class="card__category">Локація</span>
                        <span class="card__category">Стать</span>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <span class="card__category">Порода</span>
                        <span class="card__category">Локація</span>
                        <span class="card__category">Стать</span>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <span class="card__category">Порода</span>
                        <span class="card__category">Локація</span>
                        <span class="card__category">Стать</span>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <span class="card__category">Порода</span>
                        <span class="card__category">Локація</span>
                        <span class="card__category">Стать</span>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <span class="card__category">Порода</span>
                        <span class="card__category">Локація</span>
                        <span class="card__category">Стать</span>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
            <div class="search__card card">
                <a href="#" class="card__link">
                    <div class="card__front-side">
                        <img class="card__img" src="../../../../../assets/images/img/search-animal.png" alt="Image">
                    </div>
                    <div class="card__back-side">
                        <h3 class="card__heading">Loki</h3>
                        <span class="card__category">Порода</span>
                        <span class="card__category">Локація</span>
                        <span class="card__category">Стать</span>
                        <p class="card__text">
                            Sed nobis maiores est quia tempore
                            At error omnis ut earum blanditiis
                            non voluptatem eligendi
                        </p>
                        <span class="card__user-info">Luter , 3 дня назад</span>
                    </div>
                </a>
            </div>
        </div>
        <a href="/searchpage" class="search__link button--orange _icon-angle">Дивитись далі</a>
    </div>
</section>
