
<div class="content">
    <div class="row">
        <div class="col">
            <div class="ref-part">
                <span class="ref-part__title">Вже готовий приєднатись до нашої спільноти?</span>
                 <button (click)="modalService.open('modal-2')" class="ref-part__link">Зареєструватися</button>
            </div>
        </div>
        <div class="col">
            <h1 class="title">Увійти</h1>
            <span class="caption">Увійти як користувач</span>
            <ul class="social">
                <li class="social__item"><a href="#" class="social__link _icon-instagram"></a></li>
                <li class="social__item"><a href="#" class="social__link _icon-facebook"></a></li>
                <li class="social__item"><a href="#" class="social__link _icon-twitter"></a></li>
                <li class="social__item"><a href="#" class="social__link _icon-youtube"></a></li>
            </ul>
            <form action="registration" (ngSubmit)="signIn()">
                <fieldset class="registration__inputs">
                    <input class="registration__input-email" name="email" [(ngModel)]="credentials.email" type="text" placeholder="@email" required>
                    <input class="registration__input-password" name="password" [(ngModel)]="credentials.password" type="password" placeholder="password" required>
                    <a class="registration__reset-psw" href="#">Забули пароль?</a>
                    <button class="registration__button button" type="submit">Увійти</button>
                    <div *ngIf="signInError" class="registration__signInError">Yor Sign in faild. Please try again</div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


