@import "global";

.content {
    width: 50rem;
    height: 28.125rem;
    background-color: white;
    // transform: translateY(-50px);
    border-radius: 40px / 40px;

    &::after {
        position: absolute;
        content: "";
        width: 50%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 2.5rem 8.25rem 8.25rem 2.5rem;
        background: linear-gradient(268deg, #f00 11.78%, #ff8000 60.04%, rgba(255, 255, 0, 0.8) 107.96%);

        box-shadow: 1px 0px 4px 0px rgba(0, 0, 0, 0.25);
    }
}

.row {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.col {
    width: 50%;
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 1.25rem;
}
.title {
    font-size: 2rem;
    font-weight: 600;
    line-height: 100%;
    color: #3c3d42;
}
.caption {
    font-size: 1rem;
    font-weight: 500;
    line-height: 100%;
    color: #989898;
}
.social {
    max-width: fit-content;
    display: flex;
    gap: 1.5625rem;
    &__item {
    }

    // .social__link

    &__link {
        width: 100%;
        height: 100%;
    }
}
._icon-instagram,
._icon-facebook,
._icon-twitter,
._icon-youtube {
    &::before {
        color: #d9d9d9;
        width: 100%;
        height: 100%;
        font-size: 1.5rem;
    }
}

.registration {
    // .registration__input-name

    &__inputs {
        width: 18.75rem;
        display: flex;
        align-items: center;
        flex-direction: column;
        :not(:last-child) {
            margin-bottom: 0.9375rem;
        }
    }

    &__input-name,
    &__input-email,
    &__input-password {
        max-width: 18.75rem;
        height: 2.5rem;
        background-color: rgba(#d9d9d9, 0.3);
        border-radius: 0.9375rem;
        font-size: 0.875rem;
        padding: 5px 5px 5px 1.875rem;
        box-shadow: 3px 4px 4px #c6c6c6;

        &:focus {
            background-color: transparent;
            outline: none;
            border: 2px solid #ff8000;
        }
    }

    &__button {
        margin-top: 0.625rem;
        padding: 0.75rem;
        border-radius: 0.9375rem;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        &:hover {
            transform: scale(1.02);
        }
    }
    &__reset-psw {
        font-size: 0.875rem;
        font-weight: 500;
        line-height: 100%;
        color: #989898;

        margin: 0.625rem 0;
    }

    &__signInError {
        font-size: toRem(12);
        color: red;
        font-weight: 500;
        margin-top: toRem(5);
    }
}

.ref-part {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;

    // .ref-part__title

    &__title {
        color: white;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-size: 2.25rem;
        font-weight: 700;
        line-height: 100%;
        // position: relative;
        z-index: 5;
    }

    // .ref-part__link

    &__link {
        // padding: 0.9375rem 1.875rem;
        color: white;
        text-align: center;
        align-content: center;
        font-weight: 600;
        font-size: 1rem;

        background-color: transparent;
        border: 2px solid white;
        border-radius: 0.9375rem;
        z-index: 5;
        width: 11.375rem;
        height: 3.125rem;
        transition: all ease-in-out 0.2s;

        &:hover {
            transform: scale(1.03);
            box-shadow: 3px 2px 10px white;
        }
    }
}
