<section class="contacts">
    <div class="contacts__container">
        <div class="contacts__info">
            <h1 class="contacts__title">Зв'яжіться з нами</h1>
            <div class="contacts__address _icon-location-full">
                <span class="contacts__subtitle">Aдреса<br></span>
                <div class="contacts__subtext">
                    м. Львів,<br> 
                    вул. Личаківська 15а
                </div>
            </div>
            <div class="contacts__number _icon-call-full">
                <span class="contacts__subtitle">Телефон<br></span>
                <a href="tel:+88007774967" class="contacts__subtext">8 (800) 777-49-67</a>
            </div>
            <div class="contacts__email _icon-poshta-full">
                <span class="contacts__subtitle">Електронна пошта<br></span>
                <div class="contacts__subtext">barkAvenue@gmail.com</div>
            </div>   
        </div>
        <div class="contacts__send-list">
            <form class="contacts__form form" action="">
                <h2 class="form__title">Відправити повідомлення</h2>
                <input class="form__input-name" type="text" placeholder="Прізвище та імя ">
                <input class="form__input-eamil" type="email" placeholder="Електронна пошта">
                <textarea class="form__input-text" type="text" placeholder="Введіть своє повідомлення"></textarea> 
                <button type="submit" class="form__btn-send">Надіслати</button>
            </form>
        </div>
    </div>
</section>