<footer class="footer">
	<div class="footer__container">
		<div class="header__logo logo">
			<a href="/home" class="logo__link"><img src="../../../../assets/images/icons/logo.svg" alt="Image"></a>
		</div>
		<div class="footer__content">
			<div class="footer__information information" *ngIf="!isMobileSmall">
				<span class="information__heading">Інформація</span>
				<ul class="information__list">
					<li class="information__item"><a routerLink="/forum" class="information__link">Про нас</a></li>
					<li class="information__item"><a routerLink="/forum" class="information__link">Політика конфіденційності</a></li>
					<li class="information__item"><a routerLink="/forum" class="information__link">Ми пропонуємо</a></li>
					<li class="information__item"><a routerLink="/forum" class="information__link">Партнери</a></li>
				</ul>
			</div>
			<app-accordion [headerTitle]="'Інформація'" [headerClass]="'information__heading'" class="footer__information information" *ngIf="isMobileSmall">
				<ul class="information__list">
					<li class="information__item"><a routerLink="/forum" class="information__link">Про нас</a></li>
					<li class="information__item"><a routerLink="/forum" class="information__link">Політика конфіденційності</a></li>
					<li class="information__item"><a routerLink="/forum" class="information__link">Ми пропонуємо</a></li>
					<li class="information__item"><a routerLink="/forum" class="information__link">Партнери</a></li>
				</ul>
			</app-accordion>

			<div class="footer__personal-office personal-office" *ngIf="!isMobileSmall">
				<span class="personal-office__heading ">Особистий кабінет</span>
				<ul class="personal-office__list">
					<li class="personal-office__item"><a routerLink="/forum" class="personal-office__link">Увійти/Зареєструватися</a>
					</li>
					<li class="personal-office__item"><a routerLink="/forum" class="personal-office__link">Мої оголошення</a></li>
					<li class="personal-office__item"><a routerLink="/forum" class="personal-office__link">Закладки</a></li>
					<li class="personal-office__item"><a routerLink="/forum" class="personal-office__link">Остані перегляди</a></li>
				</ul>
			</div>

			<app-accordion [headerTitle]="'Особистий кабінет'" [headerClass]="'personal-office__heading'" class="footer__personal-office personal-office" *ngIf="isMobileSmall">
				<ul class="personal-office__list">
					<li class="personal-office__item"><a routerLink="/forum" class="personal-office__link">Увійти/Зареєструватися</a>
					</li>
					<li class="personal-office__item"><a routerLink="/forum" class="personal-office__link">Мої оголошення</a></li>
					<li class="personal-office__item"><a routerLink="/forum" class="personal-office__link">Закладки</a></li>
					<li class="personal-office__item"><a routerLink="/forum" class="personal-office__link">Остані перегляди</a></li>
				</ul>
			</app-accordion>

			<div class="footer__support support" *ngIf="!isMobileSmall">
				<span class="support__heading ">Підтримка</span>
				<ul class="support__list">
					<li class="support__item"><a routerLink="/forum" class="support__link">Залиш свій відгук</a></li>
					<li class="support__item"><a routerLink="/forum" class="support__link">Контакти</a></li>
					<li class="support__item"><a routerLink="/forum" class="support__link">Навігація сайту</a></li>
				</ul>
			</div>

			<app-accordion [headerTitle]="'Підтримка'" [headerClass]="'support__heading'" class="footer__support support" *ngIf="isMobileSmall">
				<ul class="support__list">
					<li class="support__item"><a routerLink="/forum" class="support__link">Залиш свій відгук</a></li>
					<li class="support__item"><a routerLink="/forum" class="support__link">Контакти</a></li>
					<li class="support__item"><a routerLink="/forum" class="support__link">Навігація сайту</a></li>
				</ul>
			</app-accordion>

			<div class="footer__contacts contacts" *ngIf="!isMobileSmall">
				<span class="contacts__heading">Контакти</span>
				<ul class="contacts__list">
					<li class="contacts__item"><a href="tel:+88007774967" class="contacts__link">8 (800) 777-49-67</a></li>
					<li class="contacts__item"><a routerLink="/forum" class="contacts__link">м. Львів, Личаківська 15а</a></li>
					<li class="contacts__item"><a routerLink="/forum" class="contacts__link">barkAvenue@gmail.com</a></li>
				</ul>
			</div>

			<app-accordion [headerTitle]="'Контакти'" [headerClass]="'contacts__heading'" class="footer__contacts contacts" *ngIf="isMobileSmall">
				<ul class="contacts__list">
					<li class="contacts__item"><a href="tel:+88007774967" class="contacts__link">8 (800) 777-49-67</a></li>
					<li class="contacts__item"><a routerLink="/forum" class="contacts__link">м. Львів, Личаківська 15а</a></li>
					<li class="contacts__item"><a routerLink="/forum" class="contacts__link">barkAvenue@gmail.com</a></li>
				</ul>
			</app-accordion>

		</div>
		<div class="footer__social social">
			<ul class="social__list">
				<li class="social__item"><a routerLink="/forum" class="social__link social__link--instagram _icon-instagram"></a></li>
				<li class="social__item"><a routerLink="/forum" class="social__link social__link--twitter _icon-twitter"></a></li>
				<li class="social__item"><a routerLink="/forum" class="social__link social__link--facebook _icon-facebook"></a></li>
				<li class="social__item"><a routerLink="/forum" class="social__link social__link--youtube _icon-youtube"></a></li>
			</ul>
		</div>
	</div>
</footer>

